.footer{
    border-top: 5px solid goldenrod;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.follow-img img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}